@model IEnumerable<IoTHUB_v1._0.Models.FeedbackTbl>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/Masteradmin.cshtml";
}


<div class="panel panel-primary">
    <div class="panel-heading panel-head"><h1>Feedback</h1></div>
    <div class="panel-body">
        <div class="btn-group">
            
                <i class="glyphicon glyphicon-plus"></i> Your Feedback is precious for us
            
        </div>
        <table class="table table-bordered table-striped table-condensed">
            <thead>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.User)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Feedback)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Createddate)
                    </th>

                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.User.Username)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Feedback)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Createddate)
                    </td>

                    <td>
                        <a asp-action="Details" asp-route-id="@item.Id" class="btn btn-primary">
                            <i class="glyphicon glyphicon-trash"></i>  Details
                        </a>
                    </td>
                </tr>
                }
            </tbody>
        </table>
    </div>
</div>


