@model IoTHUB_v1._0.Models.RfidTbl

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/Admin.cshtml";
}

<h1>Details</h1>

<div>
    
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Rfid)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Rfid)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.User)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.User.Username)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Isactive)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Isactive)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Createddate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Createddate)
        </dd>


    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.RfidId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
